.main
  .flex.flex-row.flex-wrap
    .flex.max-w-lg.min-w.fit.flex-col.m-2
      .image.w-50
        = image_tag 'projekt1/projekt1-1.jpg'
      .title 
        = link_to 'Budowa w Chabowce', project_path(1)
    .flex.max-w-lg.min-w.fit.flex-col.m-2
      .image.w-50
        = image_tag 'projekt2/projekt2-1.jpg'
      .title 
        = link_to 'Budowa w Rabce', project_path(2)
    .flex.max-w-lg.min-w.fit.flex-col.m-2
      .image.w-50
        = image_tag 'projekt2/projekt2-1.jpg'
      .title 
        = link_to 'Budowa w Rabce', project_path(2)
    .flex.max-w-lg.min-w.fit.flex-col.m-2
      .image.w-50
        = image_tag 'projekt2/projekt2-1.jpg'
      .title 
        = link_to 'Budowa w Rabce', project_path(2)